.conditionformat-plugin-block {
    margin: 10px 0px 10px 0px;
    border: solid 1px #eee;
    padding: 20px;
}

#conditionformat-plugin-text-tbody tr:first-child,
#conditionformat-plugin-date-tbody tr:first-child {
    display: none;
}

#conditionformat-plugin-date-tbody .conditionformat-plugin-column3 {
    width: 50px
}

.kintoneplugin-table-th .title {
    min-width: 40px;
}

.conditionformat-ctype {
    width: 150px;
}

.conditionformat-date-type {
    width: 50px;
}

.conditionformat-cvalue-date {
    width: 60px;
}

.conditionformat-font {
    width: 120px;
}

.conditionformat-plugin-column3-select1{
    display: inline-block;
    overflow: hidden;
}

.conditionformat-plugin-date-column3-td {
    min-width: 260px;
}

.conditionformat-plugin-column5-td, .conditionformat-plugin-column6-td {
    min-width: 128px;
}

.conditionformat-plugin-column5, .conditionformat-plugin-column6 {
    width: 90px;
}

.conditionformat-plugin-column5-color, .conditionformat-plugin-column6-color{
    display:none;
}

.color-paint-brush {
    color: #676767;
    padding-bottom: 2px;
    border-bottom: 3px solid #000000;
    -ms-display:none;
}

.conditionformat-plugin-column9{
    min-width: 70px;
}