# thirdparties
examples/**/thirdparties/*.js
kintone-config-helper.js
jquery.ui.datepicker-ja.min.js

# plugins
examples/appIndex/**/*.js
examples/colorcell/**/*.js
examples/colorful-report/**/*.js
examples/conditionformat/**/*.js
examples/eventCalendar/**/*.js
examples/js-edit/**/*.js
examples/kyotenn/**/*.js
examples/mandrill/**/*.js
examples/sansan/**/*.js
examples/vote/**/*.js
