.colorcell-plugin-red {
  color: #ff0000;
  background-color: #ffcccc;
}

.colorcell-plugin-blue {
  color: #0000ff;
  background-color: #ccccff;
}

.colorcell-plugin-green {
  color: #009900;
  background-color: #ccffcc;
}

